<section class="catalog">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<ul class="breadcrumb">
					<li><a href="#">Главная</a></li>
					<li><a href="#">Каталог</a></li>
					<li>Название товара</li>
				</ul>
			</div>
		</div>
		<div class="accordion">
			<div class="row">
				<div class="col-sm-4">
					<img src="img/accordion-img.jpg" class="img-responsive" width="100%">
				</div>
				<div class="col-sm-8">
					<h2>JCB 4CX Super</h2>
					<div class="accordion-main">

						<button class="accordion-button acc-active">Характеристики</button>
						<div class="accordion-panel">
							<ul>
								<li class = "checkbox-item">
									<input type="checkbox" id="checkbox1" hidden="true" checked="true" value="150000">
									<label for="checkbox1">Характеристика 1</label>
								</li>
								<li class = "checkbox-item">
									<input type="checkbox" id="checkbox2" hidden="true" value="150000">
									<label for="checkbox2">Характеристика 2</label>
								</li>
								<li class = "checkbox-item">
									<input type="checkbox" id="checkbox3" hidden="true" value="150000">
									<label for="checkbox3">Характеристика 3</label>	
								</li>
							</ul>
							
						</div>
						
						<button class="accordion-button acc-active">Информация</button>
						<div class="accordion-panel">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas similique, provident. Consectetur commodi, beatae quidem, repellat neque voluptatem dignissimos minus expedita soluta, quasi eum. Dolorem mollitia earum nesciunt, minima sed.</p>
						</div>
					</div>
					<div class="total-price">
						<p class="calculated-price"></p>
						<button class="order-button">
						Заказать
						</button>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
</section>