<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-sm-2">
				<img src="img/logo-yellow.png" alt="Аренда" class="img-responsive logo-yellow">
			</div>
			<div class="col-xs-12 col-sm-6">
				<ul class="footer-menu">
					<li><a href="#" class="footer-active">Главная</a></li>
					<li><a href="#">Каталог техники</a></li>
					<li><a href="#">Услуги</a></li>
				</ul>
				<ul class="footer-menu">
					<li><a href="#">Выполненные работы</a></li>
					<li><a href="#">О компании</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4">
				<p class="copy">&copy; Aйтекс start 2016</p>
				<div class="itex-info">
					<img src="img/itex-logo.png" alt="Айтекс">
					<a class="itex-link" href="http://itexstart.ru">itexstart.ru</a>
				</div>
			</div>
		</div>
	</div>
</footer>