<header class="menu">
	<div class="head">
		<div class="container">
			<div class="row">
				<div class="col-xs-4 col-sm-2">
					<img src="img/logo.png" alt="Аренда" class="img-responsive">
				</div>
				<div class="col-xs-8 col-sm-4 col-md-3">
					<h2 class="main-desc">Услуги строительной техники</h2>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-7">
					<p class="address">г. Екатеринбург,  ул.Маяковского, 25</p>
					<p class="phone"> +7 (343) 222-20-17</p>
				</div>
			</div>
		</div>
	</div>

	<div class="main-menu hidden-sm hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-sm-1">
					<img src="img/logo-sign.png" alt="Company Name" class="img-responsive">
				</div>
				<div class="col-sm-11">
					<ul class="nav-menu">
						<li><a href="#" class="active">Каталог техники</a></li>
						<li><a href="#">Услуги</a></li>
						<li><a href="#">Выполненные работы</a></li>
						<li><a href="#">О компании</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<a href="#" class="toggle-menu hidden-md hidden-lg"><span></span></a>

	<div class="main-menu hidden-menu hidden-md hidden-lg">
		<div class="container">
			<div class="row">
				<div class="col-sm-1">
					<img src="img/logo-sign.png" alt="Company Name" class="img-responsive">
				</div>
				<div class="col-sm-11">
					<ul class="nav-menu">
						<li><a href="#" class="active">Каталог техники</a></li>
						<li><a href="#">Услуги</a></li>
						<li><a href="#">Выполненные работы</a></li>
						<li><a href="#">О компании</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</header>