<section class="services">
	<h1>Услуги</h1>
	<div class="services-main">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="services-item row">
						<div class="col-xs-12 col-sm-4">
							<img src="img/service-img.png" class="img-responsive service-img">
						</div>
						<div class="col-xs-12 col-sm-8">
							<div class="service-text">
								<h2>Засыпка траншей</h2>
								<p>Нашей компанией осуществляется засыпка траншей в Екатеринбурге, востребованная предприятиями и частными лицами.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="services-item row">
						<div class="col-xs-12 col-sm-4">
							<img src="img/service-img.png" class="img-responsive service-img">
						</div>
						<div class="col-xs-12 col-sm-8">
							<div class="service-text">
								<h2>Вывоз мусора</h2>
								<p>Вывоз мусора — составляющая деятельности производств и бытовых предприятий.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="services-item row">
						<div class="col-xs-12 col-sm-4">
							<img src="img/service-img.png" class="img-responsive service-img">
						</div>
						<div class="col-xs-12 col-sm-8">
							<div class="service-text">
								<h2>Доставка</h2>
								<p>Отсев образуется после разработки твердых горных пород и является востребованным материалом в строительстве.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="services-item row">
						<div class="col-xs-12 col-sm-4">
							<img src="img/service-img.png" class="img-responsive service-img">
						</div>
						<div class="col-xs-12 col-sm-8">
							<div class="service-text">
								<h2>Подъем грузов</h2>
								<p>Выполнение широкого спектра высотных операций сложно представить без специализированной техники.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>