<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				
			<div class="slideshow-container">

				<div class="mySlides">
				    <img src="img/slider-image.png" style="width:100%">
				    <div class="caption-text">Профессиональная техника<br> в аренду от<div class="price">15000<div class="text-bold">руб./сутки</div></div></div>
				</div>

				<div class="mySlides">
				    <img src="img/slider-image.png" style="width:100%">
				    <div class="caption-text">Профессиональная техника<br> в аренду от<div class="price">15000<div class="text-bold">руб./сутки</div></div></div>
				</div>

				<div class="mySlides">
				    <img src="img/slider-image.png" style="width:100%">
				    <div class="caption-text">Профессиональная техника<br> в аренду от<div class="price">15000<div class="text-bold">руб./сутки</div></div></div>
				</div>


				<div class="dots">
					<span class="dot"></span> 
					<span class="dot"></span> 
					<span class="dot"></span> 
				</div>

				<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
				<a class="next" onclick="plusSlides(1)">&#10095;</a>
			</div>

	
			
			</div>
		</div>
	</div>
</section>